* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #121222);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
    padding: 2rem;
    background: rgba(147, 128, 255, 0);
    border-radius: 12px;
}

#count {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.click-box {
    width: 500px;
    height: 300px;
    background: #ff4757;
    margin: 0 auto 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out background 0.3s;
    will-change: transform;
    transform: translateZ(0);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.click-box.ready {
    background: #2ed573;
}

.status-text {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.average-result {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-top: 1rem;
    min-height: 2.5rem;
}

.chart-container {
    width: 600px;
    margin: 2rem auto 0;
}

.waiting {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#backtomain {
    background: #8484ff00;
    color: #ffffff;
    border: none;
    width: 20%;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}
#backtomain:hover {
    background: #8484ff70;
}